.signup-main-container{
    width: 1512px; 
    height: 982px; 
    background-color: #ffffff;
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}
.empty-side-container{
    width: 843px; 
    height: 894px; 
    background-color: #D9D9D9;
    border-radius: 15px;
}
.signup-fields-container{
    height: 90%; 
    width: 546px; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 35px;
}
.logo-container{
    width: 245px; 
    height: 45.89px; 
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}

.image-logo{
    width: 37.55px; 
    height: 38.97px; 
}

.stackguard-heading{
    font-size: 32px; 
    font-family: "Poppins"; 
    font-style: 'Regular'; 
    color: #000000; 
    font-weight: 400;
}

.welcome-heading{
    font-weight: 500; 
    color: #000000; 
    font-style: 'Medium'; 
    font-size: 32px;
    font-family: "Poppins"; 

}
.secure-paragraph{
     font-weight: 400; 
    color: #000000; 
    font-style: 'Regular'; 
    font-size: 20px;
    margin-top: 0px;
    font-family: "Poppins";
    text-align: center;
}
.welcome-container{
    width: 497px; 
    height: 90px; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 15px; 

}
.form-container{
    width: 546px; 
    height: 280px;
    gap: 16px; 
    margin-bottom: 15px;
}
.form-container-2{
    width: 546px; 
    height: 280px;
    margin-bottom: 0px;
}

.name-input{
    height: 58px; 
    width: 60%; 
    border-radius: 8px; 
    background-color: #F1F1F1;
    font-size: 17px; 
    font-family: "Poppins"; 
    font-weight: 400; 
    font-style: 'Regular'; 
    border-width: 0px; 
    gap: 5px; 
    margin: 5px;
    margin-bottom: 10px;

}
.name-container{
    width: 100%; 
    height: 58px; 
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.input{
    height: 58px; 
    width: 546px; 
    border-radius: 8px;
    background-color: #F1F1F1;
    font-size: 17px; 
    font-family: "Poppins"; 
    font-weight: 400; 
    font-style: 'Regular'; 
    border-width: 0px; 
    margin: 5px;
}
.input-2{
    height: 58px; 
    width: 536px; 
    border-radius: 8px;
    background-color: #F1F1F1;
    font-size: 17px; 
    font-family: "Poppins"; 
    font-weight: 400; 
    font-style: 'Regular'; 
    border-width: 0px; 
    margin: 5px;
    padding: 15px;
    padding-left: 5px;
}

.account-btn{
    height: 58px;  
    width: 546px;  
    background-color: #44087D;
    border-radius: 7px; 
    gap: 10px; 
    color: #ffffff; 
    font-size: 17px; 
    font-family: "Poppins"; 
    font-weight: 400; 
    font-style: "Regular"; 
    text-align: center;
    margin-top: 20px;


}
.account-btn-2{
    height: 58px;  
      width: 546px;  
    background-color: #44087D;
    border-radius: 7px; 
    gap: 10px; 
    color: #ffffff; 
    font-size: 17px; 
    font-family: "Poppins"; 
    font-weight: 400; 
    font-style: "Regular"; 
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    margin-left: 5px;
}
.space{
    color: #000000; 
    font-size: 15px; 
    font-weight: 400; 
    font-family: "Poppins"; 
    text-align: center;
    margin-bottom: 0px;
    margin-top: 100px;

}
.no-space{
  color: #000000; 
    font-size: 15px; 
    font-weight: 400; 
    font-family: "Poppins"; 
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;  
}
.span{
    text-decoration: underline;
}
.account-para{
    font-size: 18px; 
    font-family: "Poppins"; 
    color: #000000 ;
    font-style: 'Solid'; 
    text-align: center;

}
.sign-span{
    text-decoration: underline;
}
.error-para{
    color: red;
    font-size: 20px; 
    font-family: "Poppins"; 
     font-style: 'Solid'; 
    text-align: center;
}